<div class="mx-auto">
    <h1 class="display-6 text-primary">Agenda</h1>
    <hr>		
    <div class="bg-light rounded p-4 box-shadow">
      <ul class="lista-plano list-unstyled">

        <li *ngFor="let item of listaContato">
          {{item.nome}}
          <button type="submit" class="btn btn-primary" (click)="onSelecionado(item)">Editar</button>
          {{ item.null }}
          <button type="submit" class="btn btn-danger" (click)="onDelete(item)">Excluir</button>
          
          <hr>
        </li>
        
      </ul>
    </div>
  </div>